{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-items">
                <div class="left">
                    <h1>#ClearVision #ClearMission</h1>
                    <p>Welcome to the Arabian vACC Library! Home to our policies, pilot resources, and controller materials! Begin exploring by navigating the menu above!</p>
                </div>
                <div class="right">
                    <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                    class="md-button md-button--primary">
                        <span style="">Start reading
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 20" fill="none">
                                <path d="M2 10H23.5M23.5 10L15.5 18M23.5 10L15.5 2" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                
                        
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- Page links -->

<div class="lowerSection">
    <div class="md-grid md-typeset">
        <div class="feature">
            <h2>Featured Sections</h2>

            <div class="cards">
                <div class="card">
                    <a href="foundations/">
                        <h3>Foundations</h3>

                        <p>
                            Explore the essentials of air traffic control in this section, including our vMATS (Manual of Air Traffic Services), radiotelephony guides, client tutorials, and more.
                        </p>
                    </a>
                </div>

                <div class="card">
                    <a href="aerodrome/">
                        <h3>Standard Operating Procedures</h3>

                        <p>
                            Access our aerodrome, terminal, and enroute standard operating procedures in this section! All airport-specific materials are available here.
                        </p>
                    </a>
                </div>

                <div class="card">
                    <a href="policies/">
                        <h3>Policies</h3>

                        <p>
                            Searching for our vACC policies for controllers, events guidelines, training syllabus, and more? You’ll find all of these resources in this section of the library.
                        </p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}