{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-items">
                <div class="left">
                    <h1>Clear Vision & Clear Mission</h1>
                    <p>Welcome to the Arabian vACC Library! Home to our policies, pilot resources, and controller materials! Begin exploring by navigating the menu above!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}{% endblock %}